rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /profile_images/{userId}_{fileName} {
      allow read, write:
    }
  }
}
